@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@400;700;900&display=swap');

/* Variables PoliParking */
:root {
  --colorPrincipal: #0a3d62;    /* Azul oscuro */
  --colorSecundario: #feca57;   /* Amarillo */
  --colorTexto: #2c3e50;        /* Gris oscuro */
  --colorBlanco: #ffffff;
  --colorFondoGris: #f4f7f6;
}

/* Global styles */
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  color: var(--colorTexto);
  background-color: var(--colorFondoGris);
}

html {
  scroll-behavior: smooth;
}

/* Botones estilo PoliParking */
.btn {
  display: inline-block;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.8em 2em;
  cursor: pointer;
  font-weight: 700;
  border-radius: 8px; /* Bordes un poco cuadrados pro */
  transition: all 0.3s ease;
  border: none;
}

.btn__primary {
  background-color: var(--colorPrincipal);
  color: var(--colorBlanco);
  box-shadow: 0 4px 6px rgba(10, 61, 98, 0.2);
}

.btn__primary:hover {
  background-color: #082a45;
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(10, 61, 98, 0.3);
  color: var(--colorSecundario);
}